{{- if .Values.dapr.enabled }}
# Dapr State Store Component (Redis)
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: statestore
  namespace: {{ .Release.Namespace }}
spec:
  type: state.redis
  version: v1
  metadata:
    - name: redisHost
      value: "{{ .Release.Name }}-redis-master:6379"
    - name: redisPassword
      value: ""
    - name: actorStateStore
      value: "true"
---
# Dapr Pub/Sub Component (Kafka)
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: pubsub
  namespace: {{ .Release.Namespace }}
spec:
  type: pubsub.kafka
  version: v1
  metadata:
    - name: brokers
      value: "{{ .Release.Name }}-kafka:9092"
    - name: consumerGroup
      value: "todo-app-group"
    - name: authRequired
      value: "false"
---
# Dapr Configuration
apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: todo-app-config
  namespace: {{ .Release.Namespace }}
spec:
  tracing:
    samplingRate: "1"
    zipkin:
      endpointAddress: "http://zipkin.default.svc.cluster.local:9411/api/v2/spans"
  metric:
    enabled: true
{{- end }}
